.signupfont
{ 
  color: black;
}
.bg-img {
  background-image: url("SignUpBG.png");
  background-repeat: no-repeat;
  margin-left: -1%;
  margin-top: -4%;
  width: 35%;
  height: 102%;
  position: fixed;

}
.signupwelcome
{
  font-size: 2.65em;
}
.signupgreetings
{
  text-align: left;
  margin-top: 3%;
  margin-left: 36.25%;
}
.fullname
{
  margin-top: 3%;
  margin-left: 36.25%;
}
.email
{
  margin-top: -7.25%;
  margin-left: 68.25%;
}
.phno
{
  margin-top: 3%;
  margin-left: 36.25%;
}
.uname
{
  margin-top: -7.25%;
  margin-left: 68.25%;
}
.state
{
  margin-top: 3%;
  margin-left: 36.25%;
}
.password
{
  margin-top: -7.25%;
  margin-left: 68.25%;
}
.signupincode
{
  margin-top: 3%;
  margin-left: 36.25%;
}
.signup
{
  margin-top: -4.25%;
  margin-left: 68.7%;
}
.signin
{
  margin-top: 4%;
  margin-left: 56%;
}
.signin a{
  color: black;
  font-weight: 700;
  text-decoration: none;
}